w3@font-face {
  font-family: myFirstFont;
  src: url(fonts/MontereyFLF.ttf);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: myFirstFont;
  background-color: #F5F5F5;
}

.navigation_top {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
}

.navigation {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}

.logo {
  float: left;
  color: rgb(227, 114, 99);
  font-size: 34px;
  font-weight: 600;
}

.menu {
  float: right;
}

.navigation:hover ul li {
  color: rgb(206, 206, 206);
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation ul li {
  float: left;
  margin: 7px;
  color: rgb(176, 176, 176);
}

.navigation ul li:hover {
  cursor: pointer;
  color: black;
}

#donate_button {
  border: 2px solid rgb(227, 114, 99);
  padding: 9px 16px 9px 16px;
  border-radius: 18px;
  color: rgb(227, 114, 99);
  margin-top: -2px;
}

#donate_button:hover {
  background-color: rgb(227, 114, 99);
  color: #fff;
}

.search {
  float: right;
  margin-top: 8px;
  margin-left: 8px;
}

.search img {
  width: 17px;
}

.clear {
  clear: both;
}

.donate_main_background {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: grey;
  background-image: url("files/back.jpeg");
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.empower {
  height: 400px;
}

.empower_container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.empower_text {
  width: 60%;
  float: left;
  padding-top: 70px;
}

.empower_header {
  color: rgb(227, 114, 99);
}

.empower_button {
  float: right;
  width: 30%;
}

#big_h1 {
  font-size: 102px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.more_button {
  border: 1px solid rgb(227, 114, 99);
  background-color: rgb(227, 114, 99);
  color: #fff;
  padding: 26px 26px;
  border-radius: 38px;
  width: 75px;
  margin-top: 170px;
}

.img_text {
  max-width: 800px;
  width: 96%;
  margin: auto;
  padding-top: 60px;
  margin-bottom: 60px;
}

.img_child {
  background-color: grey;
  background-image: url("files/child.jpg");
  background-size: cover;
  width: 50%;
  height: 600px;
  float: left;
}

.mission_text {
  width: 350px;
  float: left;
  background-color: #fff;
  position: absolute;
  margin-top: 151px;
  margin-left: 228px;
  padding: 34px;
}

.red-color {
  color: rgb(227, 114, 99);
}

.partners {
  background-color: #7CB9BA;
  display: flex;
}

.partners_text {
  float: left;
  width: 50%;
  margin: auto;
  color: #fff;
}

.partners .partners_img {
  float: right;
  width: 50%;
}

.text_side {
  max-width: 600px;
  width: 92%;
  margin: auto;
}

.partners_img img {
  width: 100%;
}

.impact_container {
  max-width: 900px;
  width: 96%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.our_impact {
  float: left;
  width: 20%;
}

.our_impact_text {
  float: right;
  width: 70%;
  font-size: 18px;
}

.custom_impact_button {
  font-size: 16px;
  margin-top: 20px;
}

.numbers_row .numbers_element {
  float: left;
  width: 33%;
}

.numbers_score {
  font-size: 84px;
  font-weight: bold;
}

.score_header {
  color: #e37263;
  margin-top: 15px;
}

.numbers_element p {
  font-style: italic;
}

.second_element {
  margin-top: 50px;
}

.third_element {
  margin-top: 100px;
}

a:link, a:visited {
  color: rgb(176, 176, 176);
  text-decoration: none;
}

a:hover {
  color: black;
}

#big_h1 {
  color: black;
  font-family: "futura-pt";
  font-size: 5em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .06em;
  font-weight: 300;
  font-style: normal;
}

.footer-main {
  margin-top: 100px;
  margin-top: 80px;
  background-color: #363636;
}

.footer-main .footer_item {
  float: left;
  width: 25%;
}

.footer-main-2 {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}

.footer-main-2 p {
  color: white;
}

.footer_item h3 a {
  color: white;
  text-decoration: underline;
}

.footer_item h3 {
  color: white;
  text-decoration: underline;
}

.footer_item h3:hover {
  color: gray;
}

.footer_item p:hover {
  color: gray;
}

.email {
  color: #777777;
  font-size: 25px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer_item {
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .logo {
    float: right;
    font-size: 34px;
  }
  .search {
    display: none;
  }

  .numbers_row .numbers_element {

    width: 36%;
}

.footer-main-2 .footer_item{
  width: 28%;
}

.email {
  margin-bottom: 20px;
}


}

@media only screen and (max-width: 650px) {


  .more_button{
    display: none;
  }
  #big_h1 {
      color: black;
      font-family: "futura-pt";
      font-size: 2.5em;
      line-height: 0.5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .06em;
      font-weight: 100;
      font-style: normal;
  }
  .donate_main_background {
    width: 100%;
    height: calc(80vh - 90px);

}

  .empower_text {
    width: 100%;

  }

  .galery_item {
    height: 200px;
  }

  .second_img {
    margin-left: 0;
  }

  .img_child {

    width: 100%;
    height: 180px;
    background-image: url("files/child.jpg");
    background-size: none;


  }


    .mission_text {
    width: 100%;
    float: left;
    background-color: #fff;
     position: none;
    margin-top: 0;
     margin-left: 0;
    padding: 0px;
  }

  .partners_text {
    float: left;
    width: 50%;
    margin: auto;
    color: #fff;
  }

  .impact_container div  {
    width: 96%;

  }

  .numbers_row .numbers_element {

    width: 100%;
}

.footer-main .footer_item{
  width: 49%;
}

.email {
  margin-bottom: 20px;
}

}
