.burger-box {
  z-index: 999;
  position: fixed;
  top: 15px;
  left: 20px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.burger {
  content: '';
  font-size: 0px;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #333;
  transition: background 0.3s, transform 0.3s, top 0.3s;
}
.burger:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #e37263;;
  transition: background 0.3s, transform 0.3s, top 0.3s;
  top: -8px;
  left: 0;
  content: "";
}
.burger:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #7cb9ba;
  transition: background 0.3s, transform 0.3s, top 0.3s;
  top: 8px;
  left: 0;
  content: "";
}

.is-open .burger {
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: transparent;
}
.is-open .burger:before {
  top: 0;
  transform: rotateZ(-45deg);
}
.is-open .burger:after {
  top: 0;
  transform: rotateZ(45deg);
}

.sliding-panel-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 998;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
.sliding-panel-content li {
  list-style: none;
}
.sliding-panel-content li:first-child {
  margin-top: 50px;
}
.sliding-panel-content li a {
  border-bottom: 1px solid #333;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}
.sliding-panel-content li a:focus {
  background-color:
  ;
}
.sliding-panel-content li a:hover {
  background-color: #477DCA;
  color: #fff;
}
.sliding-panel-content.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.sliding-panel-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 997;
}
.sliding-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.sliding-panel-button {
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;
}
.sliding-panel-button img {
  height: 1.3em;
}

@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }

  .menu-collapsed {
    display: block;
  }


}
@media only screen and (min-width: 900px) {
  .menu {
    display: block;
  }

  .menu-collapsed {
    display: none;
  }
}
